* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-image: url("../images/so-white.png");
}

.bigbox {
    max-width: 960px;
    margin: 0 auto;
}

.header {
    border-bottom: 2px solid #cccccc;
    margin-bottom: 40px;
    background-color: #ffffff;
}

.name {
    background-color: teal;
    color: #ffffff;
    font-size: 1.8em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    display: inline-flex;
    padding: 30px;
}

#navbarTogglerDemo02 {
    padding-top: 2vh;
}

.chuhan {
    float: right;
    margin-right: 48%;
}

.nav-link {
    text-decoration: none;
    color: teal;
    font-family: 'Arial', sans-serif;
    border-right: 1px solid #dddddd;
    font-size: 1.01em;
}

a.nav-link:hover {
    color: #777777;
}





.aboutme {
    border: 1px solid #dddddd;
    overflow: hidden;
    padding: 30px;
    color: #777777;
    background-color: #ffffff;
}

.aboutme h1 {
    color: teal;
    border-bottom: 3px solid #dddddd;
    padding-bottom: 20px;
    margin-top: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 30px;
    font-size: 2em;
}

.small1, .small2 {
    float: left;
    margin-right: 5%;
    position: relative;
    margin-bottom: 3vh;
    width: 35%;
}

.small1 img, .small2 img {
    width: 100%;
}

.small1 p, .small2 p {
    background-color: teal;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    position: absolute;
    top: 270px;
    width: 100%;
}

.small2 p {
    top: 205px;
}

footer {
    border-top: 4px solid teal;
    margin-top: 40px;
    background-color: #666666;
    text-align: center;
    padding: 8px;
    height: 40px;
    width: 100%;
    position: sticky;
    bottom: 0px;
}

@media only screen and (max-width: 980px) {
    .chuhan {
        margin-right: 31%;
    }
  }

@media only screen and (max-width: 768px) {
    .small2 p{
        top: 170px;
    }
}

@media only screen and (max-width: 640px) {
    .chuhan {
        width: 100%;
        float: none;
        background-color: teal;
        margin-right: 0%;
        margin: 0 auto;
        text-align: center;
    }

    .navbar {
        margin: 0 auto;
    }

    .small1, .small2 {
        float: none;
        width: 100%;
        margin: 3vh auto;
    }

    .small1 p {
        top: 511px;
    }

    .small2 p{
        top: 348px;
    }
    
    .conceptual p {
        top: 250px
    }

    span {
        justify-content: center;
    }
}